$horizontal-space: 2rem;
$vertical-space: 1.5rem;

$background: #f7f3ee;

$main-color: #57b560;

$text-color: #000;
$weak-text-color: #9b9b9b;
$tips-text-color: #aeb8bc;

$border-color: #dddddd;
$input-border-focus-color: #5E6F89;
$border-radius: 5px;

//HEADER
$header-bg: #373c44;
//CELL
$cell-ft-color: #bfbfbf;





